.selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.btn {
  border-radius: 45px;
  font-size: 25px;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.green {
  border: 1px solid green;
  color: green;
}

.green:hover {
  background: green;
  color: white;
}

.red {
  border: 1px solid red;
  color: red;
}

.red:hover {
  background: red;
  color: white;
}

